[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule "spark_repo"]
	path = spark_repo
	url = git@github.com:holman/spark.git
