snippet function "function declaration"
function ${1:NAME}(${2:ARGS}) {
	${3:BODY}
}
endsnippet

snippet urlajax "URLTools.getAjaxURL" w
window.URLTools.getAjaxURL
endsnippet

snippet urlpost "URLTools.post"
window.URLTools.post
endsnippet

snippet urlchangePage "URLTools.changePage"
window.URLTools.changePage
endsnippet
