extends javascript

snippet .then ".then"
.then(() => {
	${1:BODY}
});
endsnippet

snippet .catch ".catch"
.catch(() => {
	${1:BODY}
});
endsnippet

snippet .finally ".finally"
.finally(() => {
	${1:BODY}
});
endsnippet
