<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>24E0F1C6-EEB2-4F18-BB7F-08351F3B5F62</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gitlab</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>gitlab</string>
			<key>url</key>
			<string>https://gitlab-app.eng.qops.net/search?utf8=%E2%9C%93&amp;snippets=&amp;scope=&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3ED999C9-FCF1-4A83-A2C7-3CA9010D847C</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>b</string>
			<key>text</key>
			<string>bunnylol</string>
			<key>url</key>
			<string>https://internalfb.com/intern/bunny/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>42D46E9E-E778-4F50-89AA-368B0F5D101F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>s</string>
			<key>text</key>
			<string>Intern Search</string>
			<key>url</key>
			<string>https://internalfb.com/intern/bunny/?q=s+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>44FED259-F9E0-4ED2-9196-6E6E521A1ED1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>packal</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>packal</string>
			<key>url</key>
			<string>http://www.packal.org/workflow-search?query={query}&amp;osx-version=All&amp;items_per_page=50</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>52C3A5F5-21FD-4EE8-A505-C67EF1DD1433</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>thes</string>
			<key>text</key>
			<string>Thesaurus</string>
			<key>url</key>
			<string>https://merriam-webster.com/thesaurus/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9A4AA923-EFFA-42D0-BED7-84E21A0AF7CD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yelp</string>
			<key>text</key>
			<string>Yelp</string>
			<key>url</key>
			<string>https://www.yelp.com/search?find_desc={query}&amp;find_loc=Seattle%2C+WA&amp;ns=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B0C6D0E8-F526-4C0C-A277-2300C76D15D4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>JIRA</string>
			<key>url</key>
			<string>https://qualtrics.atlassian.net/secure/QuickSearch.jspa?searchString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B942C870-4C31-4401-9C0E-93EBBA12962D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dict</string>
			<key>text</key>
			<string>Dictionary</string>
			<key>url</key>
			<string>https://merriam-webster.com/dictionary/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C9EB3370-D568-4E29-9FC0-8E9085F33E6F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>soundcloud</string>
			<key>text</key>
			<string>SoundCloud</string>
			<key>url</key>
			<string>https://soundcloud.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E0486AAD-B58E-4666-BD83-9858095F6459</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>work</string>
			<key>text</key>
			<string>Workplace Search</string>
			<key>url</key>
			<string>https://internalfb.com/intern/bunny/?q=work+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E2451BE7-6503-4633-BBD2-42720B881E82</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caniuse</string>
			<key>text</key>
			<string>Can I Use</string>
			<key>url</key>
			<string>https://caniuse.com/#search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E7A659A3-1008-410A-8BAF-010BFE1CF9A0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gitlabg</string>
			<key>text</key>
			<string>gitlab groups</string>
			<key>url</key>
			<string>https://gitlab-app.eng.qops.net/explore/groups?utf8=%E2%9C%93&amp;filter={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
